# LISTA DE EXERCICIOS

In [2]:
# ques 01
nome = input('Entre com seu nome: ')
print(f'Seja bem vindo {nome}! ')

Entre com seu nome:  ray santos

Seja bem vindo ray santos!

In [3]:
# ques02
num = int(input('Entre com um número: '))
num2 = int(input('Entre com outro número: '))
print('Soma: ',num+num2)

Entre com um número:  10
Entre com outro número:  10

Soma:  20

In [5]:
# ques03
num = int(input('Entre com um número: '))
num2 = int(input('Entre com outro número: '))
print('Soma: ',num+num2)
print('Subtração: ',num-num2)

Entre com um número:  10
Entre com outro número:  2

Soma:  12
Subtração:  8

In [10]:
# ques04
nome = str(input('Entre com seu nome: '))
idade = int(input('Entre com sua idade: '))
cidade = str(input('Entre com sua cidade: '))
print('Nome: ',nome)
print('Idade: ',idade)
print('CIdade: ',cidade)

Entre com seu nome:  ray
Entre com sua idade:  20
Entre com sua cidade:  tefe

Nome:  ray
Idade:  20
CIdade:  tefe

In [11]:
# ques05
num = int(input('Entre com um número: '))
num1 = int(input('Entre com outro número: '))
num2 = int(input('Entre com outro número: '))
print('Média: ',((num+num1+num2)/3))

Entre com um número:  10
Entre com outro número:  10
Entre com outro número:  10

Média:  10.0

In [ ]:
# ques06
b = float(input('Base: '))
a = float(input('Altura: '))
print('Àrea: ',(a*b))

In [12]:
# ques07
c = float(input('Entre com a temperatura em celcius: '))
f = (c* (9/5)) + 32
print('Fahrenheit: ',f)

Entre com a temperatura em celcius:  10

Fahrenheit:  50.0

In [13]:
# ques08
lado = int(input('Entre com o lado: '))
p = lado * 4
print('Perimetro: ',p)

Entre com o lado:  10

Perimetro:  40

In [15]:
 # ques09
valor_rais = float(input('Entre com o valor em reais R$: '))
taxa = float(input('Cotação do dolar: '))
valor_convertido = valor_rais / taxa
print('Valor em Dolar: ',valor_convertido)

Entre com o valor em reais R$:  10
Cotação do dolar:  2

Valor em Dolar:  5.0

In [ ]:
# ques10