In [1]:
produtos = ['coca','pepsi','guarana','fanta','dolly']
producao = [15000,12000,13000,500,5000]

In [3]:
for a in range(len(produtos)):
    if producao[a] >= 1000:
        print(produtos[a],producao[a])

coca 15000
pepsi 12000
guarana 13000
dolly 5000

# Desafio

In [40]:
# DESAFIO 01
registro = []
qtd_pessoas = int(input('Quantas pessoas ocuparão o quarto? '))
for a in range(qtd_pessoas):
    nome = str(input(f'Entre com o nome da {a+1}º pessoa: '))
    cpf = str(input(f'Entre com o CPF da {a+1}º pessoa: '))
    registro.append([nome,cpf])

In [ ]:
for a in registro:
    print(a)

['João', '34']
['Julia', '12']
['Ray', '23']

In [49]:
# DESAFIO 02
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]
print(vendas[0][1])

15000

In [50]:
for a in range(len(vendas)):
    if vendas[a][1] >= meta:
        print(vendas[a])

['João', 15000]
['Julia', 27000]
['Ana', 10300]

In [58]:
# DESAFIO03
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]
for p, v19, v20 in zip(produtos, vendas2019, vendas2020):
    if v20 > v19:
        print(f'Produto: {p}, Venda-2019: {v19}, Valor-2020: {v20}, Percentual-aumento: {((100*v19)/v20):.2f}%')

Produto: iphone, Venda-2019: 558147, Valor-2020: 951642, Percentual-aumento: 58.65%
Produto: tv, Venda-2019: 405252, Valor-2020: 787604, Percentual-aumento: 51.45%
Produto: máquina de café, Venda-2019: 718654, Valor-2020: 867660, Percentual-aumento: 82.83%
Produto: notebook dell, Venda-2019: 422760, Valor-2020: 694913, Percentual-aumento: 60.84%
Produto: notebook hp, Venda-2019: 154753, Valor-2020: 539704, Percentual-aumento: 28.67%
Produto: microsoft surface, Venda-2019: 438508, Valor-2020: 667179, Percentual-aumento: 65.73%
Produto: webcam, Venda-2019: 237467, Valor-2020: 295633, Percentual-aumento: 80.32%
Produto: caixa de som, Venda-2019: 489705, Valor-2020: 725316, Percentual-aumento: 67.52%
Produto: microfone, Venda-2019: 328311, Valor-2020: 644622, Percentual-aumento: 50.93%
Produto: câmera canon, Venda-2019: 591120, Valor-2020: 994303, Percentual-aumento: 59.45%

# Outra lista de exercicíos: for

In [59]:
# ques01
lista_compras = ['arroz', 'feijão', 'macarrão', 'azeite', 'farinha', 'açúcar']
print(lista_compras)

['arroz', 'feijão', 'macarrão', 'azeite', 'farinha', 'açúcar']

In [61]:
# ques02
numeros = [10, 20, 30, 40, 50]
print(sum(numeros))

150

In [64]:
# ques03
numeros = [1, 4, 7, 10, 13, 16, 19, 22]
cont = 0
for num in numeros:
    if num%2!=0:
        cont += 1
print(f': {cont} números impares')

: 4 números impares

In [68]:
# ques04
numeros = [5, 10, 13, 20, 25, 28, 30, 33, 40, 45]
print('Multilplos de 5: ',end='')
for num in numeros:
    if num%5==0:
        print(num,end=', ')

Multilplos de 5: 5, 10, 20, 25, 30, 40, 45,

In [69]:
# ques05
numeros = [1, 2, 3, 4, 5]
nova_lista = []
for num in numeros:
    nova_lista.append(num * 2)
print(nova_lista)

[2, 4, 6, 8, 10]

In [79]:
# ques06
nomes = ['joão', 'maria', 'ana', 'carlos']
print(nomes)
nome_maiuscula = [nome.upper() for nome in nomes]
print(nome_maiuscula)

['joão', 'maria', 'ana', 'carlos']
['JOÃO', 'MARIA', 'ANA', 'CARLOS']

In [83]:
# ques07
palavras = ['   ', ' código  ', '  lista', ' estrutura ']
print(palavras)
palavra_espaco = [palavra.strip() for palavra in palavras]
print(palavra_espaco)

['   ', ' código  ', '  lista', ' estrutura ']
['', 'código', 'lista', 'estrutura']

In [ ]:
# ques08
palavras = ['banana', 'abacaxi', 'uva', 'amora', 'laranja', 'acerola']
for p in palavras:
    if p.startswith('a'):
        print(p)

banana
abacaxi
uva
amora
laranja
acerola

In [86]:
# ques09
celsius = [0, 10, 20, 30, 40, 50]
f = []
for c in celsius:
    f.append((c-1.8)+32)
print(f)

[30.2, 40.2, 50.2, 60.2, 70.2, 80.2]

In [90]:
# ques10
notas = [5.0, 7.5, 8.0, 6.0, 9.0, 10.0, 4.5, 3.0]
print('Notas acima da média: ')
nt = [nota for nota in notas if nota >= 6]
print(nt)

Notas acima da média:
[7.5, 8.0, 6.0, 9.0, 10.0]

In [92]:
# ques11
alunos = ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo']
notas = [6.5, 8.0, 7.2, 5.5, 9.1]
for a, n in zip(alunos, notas):
    if n >= 7:
        print(f'Aluno: {a}, Nota: {n}')

Aluno: Bruno, Nota: 8.0
Aluno: Carlos, Nota: 7.2
Aluno: Eduardo, Nota: 9.1

In [93]:
# ques12
produtos = ['Sabão', 'Detergente', 'Shampoo', 'Condicionador', 'Escova']
precos = [3.5, 2.0, 15.0, 18.5, 8.0]
for p1, p2 in zip(produtos, precos):
    if p2 < 10:
        print(f'Produto: {p1}, Preço: {p2}')

Produto: Sabão, Preço: 3.5
Produto: Detergente, Preço: 2.0
Produto: Escova, Preço: 8.0

In [94]:
# ques13

funcionarios = ['João', 'Mariana', 'Carlos', 'Beatriz', 'Lucas']
salarios = [2800, 3500, 2700, 4200, 3100]
for f, s in zip(funcionarios, salarios):
    if s > 3000:
        print(f'Nome: {f}, Salário: {s}')

Nome: Mariana, Salário: 3500
Nome: Beatriz, Salário: 4200
Nome: Lucas, Salário: 3100

In [95]:
# ques14
alunos = ['Fernanda', 'Pedro', 'Luana', 'André', 'Gabriela']
notas = [4.0, 6.5, 3.8, 7.2, 5.0]
for a, n in zip(alunos, notas):
    if n < 5:
        print(f'Nome: {a}, Nota: {n}')

Nome: Fernanda, Nota: 4.0
Nome: Luana, Nota: 3.8

In [1]:
# ques15

clientes = ['Roberto', 'Júlia', 'Ricardo', 'Carla', 'Sérgio']
idades = [45, 52, 37, 60, 49]
for c, i in zip(clientes,idades):
    if i > 50:
        print(c, i)

Júlia 52
Carla 60

In [5]:
# ques16

produtos = ['Arroz', 'Feijão', 'Macarrão', 'Óleo', 'Açúcar']
estoque = [50, 200, 30, 10, 90]
nivel_critico = 40
print('Produtos abaixo do nível critico')
for p, e in zip(produtos, estoque ):
    if e < nivel_critico:
        print(p, e)

Produtos abaixo do nível critico
Macarrão 30
Óleo 10

In [7]:
# ques17

produtos = ['Caderno', 'Caneta', 'Lápis', 'Borracha', 'Estojo']
precos = [25.0, 2.5, 1.0, 3.0, 20.0]
limite = 10.0
for p, pre in zip(produtos, precos):
    if pre > limite:
        print(p, pre)

Caderno 25.0
Estojo 20.0

In [8]:
# ques18
alunos = ['Alice', 'Bruno', 'Clara', 'Daniel']
notas = [9.8, 10.0, 7.5, 10.0]
for a, n in zip(alunos, notas):
    if n == 10:
        print(a,n)

Bruno 10.0
Daniel 10.0

In [9]:
# ques19
clientes = ['Maria', 'José', 'Paula', 'Carlos']
saldos = [1200, -500, 300, -150]
for c, s in zip(clientes, saldos):
    if s < 0:
        print(c,s)

José -500
Carlos -150

In [10]:
# ques20

alunos = ['Gabriel', 'Mariana', 'Sofia']
idades = [15, 17, 14]
for a, i in zip(alunos, idades):
    print(a,i)

Gabriel 15
Mariana 17
Sofia 14